html, body {
    margin: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#canvas {
    width: 100%;
    height: 100%;
}

/* #sidebar {
    width: 20%;
    background-color: white;
} */

.object {
    background-color: whitesmoke;
    margin: 20px;
    padding: 8px 12px 8px 12px;
    border: 1px solid grey;
}

.name {
    font-size: large;
}